Repository europ/MUNI-FI-PA181, changes with the owners that .github/CODEOWNERS names for each.
All owners: @europ, @jirkacechak, @vaclavstehlik

.github/CODEOWNERS:

# Global
*       @europ

# Specific to File Type
*.js    @jirkacechak
*.cs    @vaclavstehlik

# Specific to a Particular File
/src/manifest.yml    @europ

# Specific to a Particular Folder
/doc/   @europ
/help/  @europ
/pres/  @europ

Add swagger
  src/src/API/API.csproj
  src/src/API/Startup.cs
Owners: @europ, @vaclavstehlik

doc (about, idea, techs, app-init)
  doc/Makefile
  doc/doc.pdf
  doc/doc.tex
  doc/quotation.bib
Owners: @europ

doc (TODO-info, deployment)
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

doc (deployment + toolchain img)
  doc/doc.pdf
  doc/doc.tex
  doc/img/toolchain.png
Owners: @europ

created wiki setup
  README.md
  help/README.md
  src/help/README.md
Owners: @europ

doc: added used tools
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

doc: removed bib + text added
  doc/Makefile
  doc/doc.pdf
  doc/doc.tex
  doc/quotation.bib
Owners: @europ

work division - done
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

Update solution-level gitignore
  src/.gitignore
Owners: @europ

Update launch order to remove unnecessary errors
  src/src/API/Properties/launchSettings.json
Owners: @europ

Remove exemplary ValuesController generated by template creation
  src/src/API/Controllers/ValuesController.cs
Owners: @vaclavstehlik

Create API skeleton
  src/.gitignore
  src/pa181.sln
  src/src/API/API.csproj
  src/src/API/Controllers/TestsController.cs
  src/src/API/Mapping/MappingProfile.cs
  src/src/API/Program.cs
  src/src/API/Resources/Requests/TestRequest.cs
  src/src/API/Resources/Responses/TestResponse.cs
  src/src/API/Startup.cs
  src/src/API/Utilities/ErrorHandling/ErrorDetails.cs
  src/src/API/Utilities/ErrorHandling/ExceptionMiddleware.cs
  src/src/API/Utilities/Logging/ILoggerManager.cs
  src/src/API/Utilities/Logging/LoggerManager.cs
  src/src/API/appsettings.Production.json
  src/src/API/appsettings.json
  src/src/API/nlog.config
  src/src/Entities/Contexts/AppDbContext.cs
  src/src/Entities/Entities.csproj
  src/src/Entities/Test.cs
  src/src/Repositories/BaseRepository.cs
  src/src/Repositories/Interfaces/ITestRepository.cs
  src/src/Repositories/Interfaces/IUnitOfWork.cs
  src/src/Repositories/Interfaces/UnitOfWork.cs
  src/src/Repositories/Repositories.csproj
  src/src/Repositories/TestRepository.cs
  src/src/Services/Interfaces/ITestService.cs
  src/src/Services/Services.csproj
  src/src/Services/TestService.cs
Owners: @europ, @vaclavstehlik

removed second add test button
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/styles/flex.css
  src/src/API/wwwroot/UI/src/styles/margin.css
  src/src/API/wwwroot/UI/src/styles/modal.css
  src/src/API/wwwroot/UI/src/styles/newTest.css
  src/src/API/wwwroot/UI/src/styles/padding.css
Owners: @jirkacechak, @europ

updated app name
  src/src/API/wwwroot/UI/public/index.html
  src/src/API/wwwroot/UI/src/constants/index.js
Owners: @europ, @jirkacechak

added icon
  src/src/API/wwwroot/UI/public/android-icon-144x144.png
  src/src/API/wwwroot/UI/public/android-icon-192x192.png
  src/src/API/wwwroot/UI/public/android-icon-36x36.png
  src/src/API/wwwroot/UI/public/android-icon-48x48.png
  src/src/API/wwwroot/UI/public/android-icon-72x72.png
  src/src/API/wwwroot/UI/public/android-icon-96x96.png
  src/src/API/wwwroot/UI/public/apple-icon-114x114.png
  src/src/API/wwwroot/UI/public/apple-icon-120x120.png
  src/src/API/wwwroot/UI/public/apple-icon-144x144.png
  src/src/API/wwwroot/UI/public/apple-icon-152x152.png
  src/src/API/wwwroot/UI/public/apple-icon-180x180.png
  src/src/API/wwwroot/UI/public/apple-icon-57x57.png
  src/src/API/wwwroot/UI/public/apple-icon-60x60.png
  src/src/API/wwwroot/UI/public/apple-icon-72x72.png
  src/src/API/wwwroot/UI/public/apple-icon-76x76.png
  src/src/API/wwwroot/UI/public/apple-icon-precomposed.png
  src/src/API/wwwroot/UI/public/apple-icon.png
  src/src/API/wwwroot/UI/public/browserconfig.xml
  src/src/API/wwwroot/UI/public/favicon-16x16.png
  src/src/API/wwwroot/UI/public/favicon-32x32.png
  src/src/API/wwwroot/UI/public/favicon-96x96.png
  src/src/API/wwwroot/UI/public/favicon.ico
  src/src/API/wwwroot/UI/public/index.html
  src/src/API/wwwroot/UI/public/manifest.json
  src/src/API/wwwroot/UI/public/ms-icon-144x144.png
  src/src/API/wwwroot/UI/public/ms-icon-150x150.png
  src/src/API/wwwroot/UI/public/ms-icon-310x310.png
  src/src/API/wwwroot/UI/public/ms-icon-70x70.png
Owners: @europ

FIXED DEPLOYMENT
  src/.deployment
  src/manifest.yml
Owners: @europ

doc: app implementation - not done yet
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

doc: references
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

updated dependencies, connected to api, adding test, listing tests, added redux form, updated styles, added loader, refactoring
  src/src/API/wwwroot/UI/package.json
  src/src/API/wwwroot/UI/src/App.js
  src/src/API/wwwroot/UI/src/actions/index.js
  src/src/API/wwwroot/UI/src/actions/test.js
  src/src/API/wwwroot/UI/src/components/Drawer.js
  src/src/API/wwwroot/UI/src/components/ErrorBlock.js
  src/src/API/wwwroot/UI/src/components/Loader.js
  src/src/API/wwwroot/UI/src/components/UploadFile.js
  src/src/API/wwwroot/UI/src/components/form/Input.js
  src/src/API/wwwroot/UI/src/components/form/index.js
  src/src/API/wwwroot/UI/src/components/index.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/hoc/WithLoader.js
  src/src/API/wwwroot/UI/src/hoc/index.js
  src/src/API/wwwroot/UI/src/index.js
  src/src/API/wwwroot/UI/src/modules/NewTest.js
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/styles/appLayout.scss
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/index.scss
  src/src/API/wwwroot/UI/src/styles/loader.css
  src/src/API/wwwroot/UI/src/styles/loader.scss
  src/src/API/wwwroot/UI/src/utils/fetch.js
  src/src/API/wwwroot/UI/src/utils/index.js
  src/src/API/wwwroot/UI/src/utils/request.js
  src/src/API/wwwroot/UI/src/utils/store.js
  src/src/API/wwwroot/UI/src/utils/validation.js
  src/src/API/wwwroot/UI/yarn.lock
Owners: @europ, @jirkacechak

Rebuilt UI
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/favicon.ico
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/manifest.json
  src/src/API/wwwroot/UI/build/precache-manifest.45e4448423c9110f22e709c60d1c7001.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.e4229f4d.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.e4229f4d.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.76bd369c.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.76bd369c.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.8a58c388.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.8a58c388.chunk.js.map
Owners: @europ, @jirkacechak

FIX - UI build
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/js/runtime~main.c5541365.js
  src/src/API/wwwroot/UI/build/static/js/runtime~main.c5541365.js.map
Owners: @europ, @jirkacechak

updated loader, test delete
  src/src/API/wwwroot/UI/src/actions/test.js
  src/src/API/wwwroot/UI/src/components/ModalButton.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/loader.css
  src/src/API/wwwroot/UI/src/styles/loader.scss
Owners: @jirkacechak, @europ

added build
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/service-worker.js
Owners: @europ, @jirkacechak

change in gitignore, ui build
  src/.gitignore
  src/src/API/wwwroot/UI/build/android-icon-144x144.png
  src/src/API/wwwroot/UI/build/android-icon-192x192.png
  src/src/API/wwwroot/UI/build/android-icon-36x36.png
  src/src/API/wwwroot/UI/build/android-icon-48x48.png
  src/src/API/wwwroot/UI/build/android-icon-72x72.png
  src/src/API/wwwroot/UI/build/android-icon-96x96.png
  src/src/API/wwwroot/UI/build/apple-icon-114x114.png
  src/src/API/wwwroot/UI/build/apple-icon-120x120.png
  src/src/API/wwwroot/UI/build/apple-icon-144x144.png
  src/src/API/wwwroot/UI/build/apple-icon-152x152.png
  src/src/API/wwwroot/UI/build/apple-icon-180x180.png
  src/src/API/wwwroot/UI/build/apple-icon-57x57.png
  src/src/API/wwwroot/UI/build/apple-icon-60x60.png
  src/src/API/wwwroot/UI/build/apple-icon-72x72.png
  src/src/API/wwwroot/UI/build/apple-icon-76x76.png
  src/src/API/wwwroot/UI/build/apple-icon-precomposed.png
  src/src/API/wwwroot/UI/build/apple-icon.png
  src/src/API/wwwroot/UI/build/browserconfig.xml
  src/src/API/wwwroot/UI/build/favicon-16x16.png
  src/src/API/wwwroot/UI/build/favicon-32x32.png
  src/src/API/wwwroot/UI/build/favicon-96x96.png
  src/src/API/wwwroot/UI/build/ms-icon-144x144.png
  src/src/API/wwwroot/UI/build/ms-icon-150x150.png
  src/src/API/wwwroot/UI/build/ms-icon-310x310.png
  src/src/API/wwwroot/UI/build/ms-icon-70x70.png
  src/src/API/wwwroot/UI/build/precache-manifest.1ad5d5e2a8fc59c87ca3a77be5f7c83d.js
  src/src/API/wwwroot/UI/build/static/css/main.af64ccbf.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.af64ccbf.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.18ad81e1.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.18ad81e1.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.386e1d6f.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.386e1d6f.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/runtime~main.a8a9905a.js
  src/src/API/wwwroot/UI/build/static/js/runtime~main.a8a9905a.js.map
Owners: @europ, @jirkacechak

updated changing language, saving chosen language to local storage
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.1ad5d5e2a8fc59c87ca3a77be5f7c83d.js
  src/src/API/wwwroot/UI/build/precache-manifest.7abdeb41256b2361793a601b13f0492c.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.af64ccbf.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.af64ccbf.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.b9a2aa3b.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.b9a2aa3b.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.18ad81e1.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.18ad81e1.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.b6525a32.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.b6525a32.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.386e1d6f.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.386e1d6f.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.650151b1.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.650151b1.chunk.js.map
  src/src/API/wwwroot/UI/package.json
  src/src/API/wwwroot/UI/src/App.js
  src/src/API/wwwroot/UI/src/components/AppBar.js
  src/src/API/wwwroot/UI/src/components/FlagIcon.js
  src/src/API/wwwroot/UI/src/components/index.js
  src/src/API/wwwroot/UI/src/styles/appLayout.scss
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/loader.css
  src/src/API/wwwroot/UI/src/styles/loader.scss
  src/src/API/wwwroot/UI/src/styles/main.scss
  src/src/API/wwwroot/UI/src/styles/modal.css
  src/src/API/wwwroot/UI/src/styles/modal.scss
  src/src/API/wwwroot/UI/yarn.lock
Owners: @europ, @jirkacechak

Update TestResponse
  src/src/API/Resources/Responses/TestResponse.cs
Owners: @vaclavstehlik

Update Startup
  src/src/API/Startup.cs
Owners: @vaclavstehlik

Add entities 'Question' and 'Answer'
  src/src/API/API.csproj
  src/src/API/Controllers/AnswersController.cs
  src/src/API/Controllers/QuestionsController.cs
  src/src/API/Extensions/ServiceCollectionExtension.cs
  src/src/API/Mapping/MappingProfile.cs
  src/src/API/Resources/Requests/AnswerRequest.cs
  src/src/API/Resources/Requests/QuestionRequest.cs
  src/src/API/Resources/Responses/AnswerResponse.cs
  src/src/API/Resources/Responses/QuestionResponse.cs
  src/src/API/Resources/Responses/TestResponse.cs
  src/src/API/Startup.cs
  src/src/Entities/Answer.cs
  src/src/Entities/Contexts/AppDbContext.cs
  src/src/Entities/Question.cs
  src/src/Entities/Test.cs
  src/src/Repositories/AnswerRepository.cs
  src/src/Repositories/Interfaces/IAnswerRepository.cs
  src/src/Repositories/Interfaces/IQuestionRepository.cs
  src/src/Repositories/QuestionRepository.cs
  src/src/Repositories/TestRepository.cs
  src/src/Services/AnswerService.cs
  src/src/Services/Interfaces/IAnswerService.cs
  src/src/Services/Interfaces/IQuestionService.cs
  src/src/Services/QuestionService.cs
Owners: @europ, @vaclavstehlik

Update POST actions to return created objects
  src/src/API/Controllers/AnswersController.cs
  src/src/API/Controllers/QuestionsController.cs
  src/src/API/Controllers/TestsController.cs
Owners: @vaclavstehlik

Add an action for 'Test' import
  src/src/API/Controllers/TestsController.cs
  src/src/API/Mapping/MappingProfile.cs
  src/src/API/Resources/Requests/ImportTestRequest.cs
  src/src/Entities/DTOs/TestImport.cs
  src/src/Services/Interfaces/ITestService.cs
  src/src/Services/TestService.cs
Owners: @vaclavstehlik

importing test json, updated question page
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.7abdeb41256b2361793a601b13f0492c.js
  src/src/API/wwwroot/UI/build/precache-manifest.7bf6b3b8ab7cb071ad7d0d30db488e4e.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.a931a488.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.a931a488.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.b9a2aa3b.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.b9a2aa3b.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.a2033424.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.a2033424.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.b6525a32.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.b6525a32.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.2a024570.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.2a024570.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.650151b1.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.650151b1.chunk.js.map
  src/src/API/wwwroot/UI/questionsTemplate.json
  src/src/API/wwwroot/UI/src/actions/test.js
  src/src/API/wwwroot/UI/src/components/DropZone.js
  src/src/API/wwwroot/UI/src/components/UploadFile.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/NewTest.js
  src/src/API/wwwroot/UI/src/modules/Question.js
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/index.scss
  src/src/API/wwwroot/UI/src/styles/main.scss
  src/src/API/wwwroot/UI/src/styles/question.scss
  src/src/API/wwwroot/UI/src/styles/tests.scss
  src/src/API/wwwroot/UI/src/utils/array.js
  src/src/API/wwwroot/UI/src/utils/format.js
  src/src/API/wwwroot/UI/src/utils/index.js
  src/src/API/wwwroot/UI/src/utils/validation.js
Owners: @europ, @jirkacechak

pres skeleton
  doc/doc.pdf
  doc/doc.tex
  img/todo.jpg
  img/toolchain.png
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

pres stuff
  doc/doc.pdf
  doc/doc.tex
  img/continuous_delivery.png
  img/todo.jpg
  img/todo.png
  pres/.gitignore
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

FIX: doc & pres
  doc/doc.pdf
  doc/doc.tex
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

pres icons
  img/content.pdf
  img/idea.pdf
  img/info.pdf
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

Add basic access control and user management for authentication
  src/src/API/Controllers/UserController.cs
  src/src/API/Extensions/ServiceCollectionExtension.cs
  src/src/API/Startup.cs
  src/src/API/appsettings.json
  src/src/Entities/AppSettings.cs
  src/src/Entities/Contexts/AppDbContext.cs
  src/src/Entities/Role.cs
  src/src/Entities/User.cs
  src/src/Repositories/Interfaces/IUserRepository.cs
  src/src/Repositories/UserRepository.cs
  src/src/Services/Interfaces/IUserService.cs
  src/src/Services/UserService.cs
Owners: @vaclavstehlik, @europ

deploy.sh (commit status)
  deploy.sh
Owners: @europ

FIX: deploy.sh
  deploy.sh
Owners: @europ

fix deploy.sh
  deploy.sh
Owners: @europ

deploy.sh - commit comment
  deploy.sh
Owners: @europ
