Repository europ/MUNI-FI-PA181, changes with the owners that .github/CODEOWNERS names for each.
All owners: @europ, @jirkacechak, @vaclavstehlik

Improve access control
  src/src/API/API.csproj
  src/src/API/Controllers/UserController.cs
  src/src/API/Extensions/ServiceCollectionExtension.cs
  src/src/API/Mapping/MappingProfile.cs
  src/src/API/Resources/Requests/UserAuthenticationRequest.cs
  src/src/API/Resources/Responses/UserResponse.cs
  src/src/Entities/Contexts/AppDbContext.cs
  src/src/Services/Authentication/Hash.cs
  src/src/Services/Authentication/IHash.cs
  src/src/Services/Authentication/ISalt.cs
  src/src/Services/Authentication/Salt.cs
  src/src/Services/UserService.cs
Owners: @europ, @vaclavstehlik

auth, refactoring
  src/src/API/wwwroot/UI/src/App.js
  src/src/API/wwwroot/UI/src/actions/index.js
  src/src/API/wwwroot/UI/src/actions/user.js
  src/src/API/wwwroot/UI/src/components/AppBar.js
  src/src/API/wwwroot/UI/src/components/AppWrapper.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/Login.js
  src/src/API/wwwroot/UI/src/modules/NewTest.js
  src/src/API/wwwroot/UI/src/modules/SignIn.js
  src/src/API/wwwroot/UI/src/modules/index.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/index.scss
  src/src/API/wwwroot/UI/src/styles/main.scss
  src/src/API/wwwroot/UI/src/styles/newTest.css
  src/src/API/wwwroot/UI/src/styles/newTest.scss
  src/src/API/wwwroot/UI/src/utils/request.js
Owners: @jirkacechak, @europ

auth
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.7bf6b3b8ab7cb071ad7d0d30db488e4e.js
  src/src/API/wwwroot/UI/build/precache-manifest.c632200141c8574abcbc31083cbf0158.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.a931a488.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.a931a488.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.e84a3396.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.e84a3396.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.a2033424.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.a2033424.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.aee3026d.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.aee3026d.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.2a024570.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.2a024570.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.b76df785.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.b76df785.chunk.js.map
Owners: @europ, @jirkacechak

selecting language in new test form, showing flag in tests
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.5c0e6a36e27f94d9ff9e61347a962a1f.js
  src/src/API/wwwroot/UI/build/precache-manifest.c632200141c8574abcbc31083cbf0158.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.20b449bf.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.20b449bf.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.e84a3396.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.e84a3396.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.4f1cc547.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.4f1cc547.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.aee3026d.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.aee3026d.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.4aaaabdb.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.4aaaabdb.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.b76df785.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.b76df785.chunk.js.map
  src/src/API/wwwroot/UI/src/components/AppBar.js
  src/src/API/wwwroot/UI/src/components/Select.js
  src/src/API/wwwroot/UI/src/components/form/Select.js
  src/src/API/wwwroot/UI/src/components/form/index.js
  src/src/API/wwwroot/UI/src/components/index.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/NewTest.js
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/main.scss
  src/src/API/wwwroot/UI/src/styles/modal.css
Owners: @europ, @jirkacechak

Add getter for user
  src/src/API/Controllers/UserController.cs
Owners: @vaclavstehlik

Change 'Test' and 'Question' entities to cascade delete
  src/src/Entities/Contexts/AppDbContext.cs
Owners: @vaclavstehlik

getting user, delete test allowed only for admin, added help
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.177591a763f25e9829986fd1b596a879.js
  src/src/API/wwwroot/UI/build/precache-manifest.5c0e6a36e27f94d9ff9e61347a962a1f.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.20b449bf.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.20b449bf.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.a7d17122.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.a7d17122.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.1152e114.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.1152e114.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.4f1cc547.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.4f1cc547.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.10db799b.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.10db799b.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.4aaaabdb.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.4aaaabdb.chunk.js.map
  src/src/API/wwwroot/UI/package.json
  src/src/API/wwwroot/UI/src/App.js
  src/src/API/wwwroot/UI/src/actions/user.js
  src/src/API/wwwroot/UI/src/components/AppBar.js
  src/src/API/wwwroot/UI/src/components/AppWrapper.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/Help.js
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/modules/index.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/main.scss
  src/src/API/wwwroot/UI/yarn.lock
Owners: @europ, @jirkacechak

updated test styles
  src/src/API/wwwroot/UI/src/modules/Tests.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/tests.scss
Owners: @jirkacechak, @europ

updated styles, fixed wrong questions
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.efc4964ca4eb6e5b52b897e3d60ff5d9.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.4f26d2db.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.4f26d2db.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.a7d17122.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.a7d17122.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/main.10db799b.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.10db799b.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.b6a9408e.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.b6a9408e.chunk.js.map
  src/src/API/wwwroot/UI/src/modules/NewTest.js
  src/src/API/wwwroot/UI/src/modules/Question.js
Owners: @europ, @jirkacechak

useless files removed
  .gitignore
  src/src/API/wwwroot/UI/README.md
Owners: @europ

screenshots + test example in JSON
  data/questions/mathematics.json
  img/application/example1.png
  img/application/example2.png
  img/application/example3.png
  img/application/example4.png
  img/application/example5.png
  img/application/example6.png
  img/application/example7.png
  img/application/example8.png
Owners: @europ

doc: added examples
  doc/doc.pdf
  doc/doc.tex
  img/application/example1.png
  img/application/example2.png
  img/application/example3.png
  img/application/example4.png
  img/application/example5.png
  img/application/example7.png
  img/application/example8.png
Owners: @europ

pres: added examples
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

doc: application instructions
  data/mathematics.json
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

work division updated, jirka's notes added
  doc/doc.pdf
  doc/doc.tex
Owners: @europ

FINISHED: doc, pres
  doc/doc.pdf
  doc/doc.tex
  img/todo.png
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

fix deploy.sh
  deploy.sh
Owners: @europ

fixes
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.031bfc510682e0d895c61799b95e77f2.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.3486d5eb.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.3486d5eb.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.4f26d2db.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.4f26d2db.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/main.b6a9408e.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.b6a9408e.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.c432fdd3.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.c432fdd3.chunk.js.map
  src/src/API/wwwroot/UI/package.json
  src/src/API/wwwroot/UI/src/actions/test.js
  src/src/API/wwwroot/UI/src/actions/user.js
  src/src/API/wwwroot/UI/src/components/AppBar.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/main.scss
Owners: @europ, @jirkacechak

removed cancel button from new test form
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.72474f00958e2fae85ccc5c789ad918e.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/js/main.998f4e15.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.998f4e15.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.c432fdd3.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.c432fdd3.chunk.js.map
  src/src/API/wwwroot/UI/src/modules/NewTest.js
Owners: @europ, @jirkacechak

tests
  data/geo.json
  data/mat.json
Owners: @europ

fixed loading language from localstorage, refactoring
  src/src/API/wwwroot/UI/src/App.js
  src/src/API/wwwroot/UI/src/components/AppBar.js
Owners: @jirkacechak

ui build
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.72474f00958e2fae85ccc5c789ad918e.js
  src/src/API/wwwroot/UI/build/precache-manifest.7de55cdefbef85fa4d9bf37b9fa39185.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/js/2.1152e114.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.1152e114.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.58cad165.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.58cad165.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.998f4e15.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.998f4e15.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.ddae23a4.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.ddae23a4.chunk.js.map
Owners: @europ, @jirkacechak

geo,mat,inf,che tests
  data/chemistry.json
  data/geology.json
  data/informatics.json
  data/mathematics.json
Owners: @europ

layout for tests
  data/cze-che-chemie.json
  data/cze-geo-geologie.json
  data/cze-info-informatika.json
  data/cze-mat-matematika.json
  data/eng-che-chemistry.json
  data/eng-geo-geology.json
  data/eng-inf-informatics.json
  data/eng-mat-mathematics.json
  data/svk-che-chémia.json
  data/svk-geo-geológia.json
  data/svk-inf-informatika.json
  data/svk-mat-matematika.json
Owners: @europ

svk tests
  data/svk-che-chémia.json
  data/svk-geo-geológia.json
  data/svk-inf-informatika.json
  data/svk-mat-matematika.json
Owners: @europ

fixes
  README.md
  data/eng-che-chemistry.json
  data/svk-che-chémia.json
Owners: @europ

Adjust routing between fe and be
  src/src/API/Program.cs
  src/src/API/Startup.cs
Owners: @vaclavstehlik

enhanced readme
  README.md
Owners: @europ

testing data
  data/.test/maximal_boundaries.test.json
  data/.test/minimal_boundaries.test.json
  data/.test/string_trim.test.json
  data/.test/string_whitespaces.test.json
Owners: @europ

solved issues - example in help, fixed styles, not found page
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.179fea45fc2c5ebee861377fc46b3aca.js
  src/src/API/wwwroot/UI/build/precache-manifest.7de55cdefbef85fa4d9bf37b9fa39185.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.3486d5eb.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.3486d5eb.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.e854a602.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.e854a602.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/2.58cad165.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.58cad165.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/2.7f029ddf.chunk.js
  src/src/API/wwwroot/UI/build/static/js/2.7f029ddf.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.2e46f024.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.2e46f024.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.ddae23a4.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.ddae23a4.chunk.js.map
  src/src/API/wwwroot/UI/src/App.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/Help.js
  src/src/API/wwwroot/UI/src/modules/Home.js
  src/src/API/wwwroot/UI/src/modules/NotFound.js
  src/src/API/wwwroot/UI/src/modules/Question.js
  src/src/API/wwwroot/UI/src/modules/index.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/index.scss
  src/src/API/wwwroot/UI/src/styles/main.scss
  src/src/API/wwwroot/UI/src/styles/question.scss
Owners: @europ, @jirkacechak

fixed typo in help
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.31e6300d03c0f9039a9e5c44643745b5.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/js/main.2e46f024.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.2e46f024.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.7b18d1e8.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.7b18d1e8.chunk.js.map
  src/src/API/wwwroot/UI/src/modules/Help.js
Owners: @europ, @jirkacechak

CZ Překlad - cze-che-chemie.json
  data/cze-che-chemie.json
Owners: @europ

CZ překlad - cze-geo-geologie.json
  data/cze-geo-geologie.json
Owners: @europ

CZ překlad - cze-info-informatika.json
  data/cze-info-informatika.json
Owners: @europ

CZ překlad - cze-mat-matematika.json
  data/cze-mat-matematika.json
Owners: @europ

start over button, fixed menu
  src/src/API/wwwroot/UI/build/asset-manifest.json
  src/src/API/wwwroot/UI/build/index.html
  src/src/API/wwwroot/UI/build/precache-manifest.eb1865daa3947b17cef2625da851af21.js
  src/src/API/wwwroot/UI/build/service-worker.js
  src/src/API/wwwroot/UI/build/static/css/main.82932912.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.82932912.chunk.css.map
  src/src/API/wwwroot/UI/build/static/css/main.e854a602.chunk.css
  src/src/API/wwwroot/UI/build/static/css/main.e854a602.chunk.css.map
  src/src/API/wwwroot/UI/build/static/js/main.7b18d1e8.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.7b18d1e8.chunk.js.map
  src/src/API/wwwroot/UI/build/static/js/main.b3983fe8.chunk.js
  src/src/API/wwwroot/UI/build/static/js/main.b3983fe8.chunk.js.map
  src/src/API/wwwroot/UI/src/components/Menu.js
  src/src/API/wwwroot/UI/src/enums/language/CZ.js
  src/src/API/wwwroot/UI/src/enums/language/EN.js
  src/src/API/wwwroot/UI/src/enums/language/SK.js
  src/src/API/wwwroot/UI/src/modules/Question.js
  src/src/API/wwwroot/UI/src/styles/index.css
  src/src/API/wwwroot/UI/src/styles/main.scss
Owners: @europ, @jirkacechak

documentation and presentation updated
  doc/doc.pdf
  doc/doc.tex
  img/application/example2.png
  img/application/example3.png
  img/application/example4.png
  img/application/example5.png
  img/application/example9.png
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

README - appliaction description added
  README.md
Owners: @europ

Add seeding for some default set of data
  src/src/Entities/Contexts/AppDbContext.cs
Owners: @vaclavstehlik

documentation completed to submit
  doc/doc.pdf
  doc/doc.tex
  img/application/example1.png
  pres/pres.pdf
  pres/pres.tex
Owners: @europ

.github/CODEOWNERS:

# Global
*       @europ

# Specific to File Type
*.js    @jirkacechak
*.cs    @vaclavstehlik

# Specific to a Particular File
/src/manifest.yml    @europ

# Specific to a Particular Folder
/doc/   @europ
/help/  @europ
/pres/  @europ
